<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Security Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
    <body>
        <div id="layout"></div>
            <div class="content">
                <div class="form-container active">
                    Title: You know that there is another table in this database called "users", display it<br><br>
                    <h2>SQLi UNION</h2>
                    <div class="button-row">
                        <form action="" method="GET">
                            <button class="button">All</button>
                        </form>
                        <form action="" method="GET">
                            <input type="hidden" name="category" value="fruits">
                            <button class="button">Fruits</button>
                        </form>
                        <form action="" method="GET">
                            <input type="hidden" name="category" value="vegetables">
                            <button class="button">Vegetables</button>
                        </form>
                        <form action="" method="GET">
                            <input type="hidden" name="category" value="grains">
                            <button class="button">Grains</button>
                        </form>
                        <form action="" method="GET">
                            <input type="hidden" name="category" value="legumes">
                            <button class="button">Legumes</button>
                        </form>
                    </div>
                {% for product in results %}
                    {% if query_param %}
                        <div class="product-card">
                            <div class="title">{{ product[0] }}</div>
                            <div class="description">{{ product[1] }}</div>
                        </div>
                    {% else %}
                        <div class="product-type">
                            Category: {{ product[0] }}
                        </div>
                        <div class="product-card">
                            <div class="title">{{ product[1] }}</div>
                            <div class="description">{{ product[2] }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    </body>
</html>